In [1]:
import pandas as pd
pd.set_option("display.max_columns",30)
pd.set_option("display.max_rows",6000)

In [2]:
df = pd.read_csv("大數據分析應用管理師_測試題目_林哲緯_0312 - data set.csv",header=None)
df = df.loc[2:,0:]
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
2,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3,A,1,NaN,NaN,4,NaN,5,NaN,5,NaN,2,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2,5,NaN,5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,5,5,NaN,6,5,NaN,2,5,NaN,NaN
5,NaN,3,5,10,50,10,30,10,30,15,10,15,20,20,35,20,27,21,NaN,20,15,15,20
6,NaN,4,20,NaN,20,NaN,30,0,NaN,40,NaN,NaN,20,10,20,10,20,20,NaN,20,20,NaN,10

In [3]:
df.dropna(subset=0)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
2,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3,A,1,NaN,NaN,4,NaN,5,NaN,5,NaN,2,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,B,1,NaN,NaN,NaN,NaN,3,NaN,4,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1815,C,1,NaN,NaN,4,NaN,2,NaN,2,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2702,D,1,NaN,NaN,2,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,E,2,3,NaN,7,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3800,F,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN
4361,G,3,NaN,NaN,13,14,20,-1,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,7
4966,H,3,NaN,NaN,NaN,4,1,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,13,3

+ 品項A 3~913 
+ 品項B 914~1814
+ 品項C 1815~2701
+ 品項D 2702~3544
+ 品項E 3545~3799
+ 品項F 3800~4360
+ 品項G 4361~4965
+ 品項H 4966~

In [4]:
df.loc[3:913,0]="A"
df.loc[914:1814,0]="B"
df.loc[1815:2701,0]="C"
df.loc[2702:3544,0]="D"
df.loc[3545:3799,0]="E"
df.loc[3800:4360,0]="F"
df.loc[4361:4965,0]="G"
df.loc[4966:,0]="H"

In [5]:
df = df.fillna(0)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
2,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3,A,1,0,0,4,0,5,0,5,0,2,0,0,10,0,0,0,0,0,0,0,0,0
4,A,2,5,0,5,0,0,0,0,5,0,0,0,5,5,0,6,5,0,2,5,0,0
5,A,3,5,10,50,10,30,10,30,15,10,15,20,20,35,20,27,21,0,20,15,15,20
6,A,4,20,0,20,0,30,0,0,40,0,0,20,10,20,10,20,20,0,20,20,0,10

In [6]:
df1 = df.loc[2,0:]
# 把cloumns 名稱改為時間
df.columns= df1.tolist()

In [7]:
df = df.loc[3:,:]

In [8]:
df.head()

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3,A,1,0,0,4,0,5,0,5,0,2,0,0,10,0,0,0,0,0,0,0,0,0
4,A,2,5,0,5,0,0,0,0,5,0,0,0,5,5,0,6,5,0,2,5,0,0
5,A,3,5,10,50,10,30,10,30,15,10,15,20,20,35,20,27,21,0,20,15,15,20
6,A,4,20,0,20,0,30,0,0,40,0,0,20,10,20,10,20,20,0,20,20,0,10
7,A,5,0,20,0,25,20,10,0,20,0,0,0,10,10,10,10,0,20,0,0,20,5

# 品項各店離群值分析

## 負成長

In [32]:
# A
dfA_negative = df.loc[(df["品項"] == "A") & (df["店家代號"].isin(["89","540","633","743"]))]
dfA_negative

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
91,A,89,350,800,600,1000,0,0,0,0,0,470,150,230,760,450,640,700,0,0,170,290,320
542,A,540,0,0,80,200,0,0,0,30,0,180,140,65,245,230,180,390,40,170,0,0,0
635,A,633,0,6,3,20,7,3,6,5,5,52,185,250,209,213,518,358,13,27,100,106,15
745,A,743,0,0,0,800,0,0,0,0,0,0,0,0,300,100,0,2600,0,0,0,0,0

In [36]:
# B
dfB_negative = df.loc[(df["品項"] == "B") & (df["店家代號"].isin(["554","540","633","743"]))]
dfB_negative

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
1434,B,540,50,110,220,1020,0,40,0,20,0,220,80,150,340,450,220,620,40,120,0,50,100
1448,B,554,0,0,0,0,17,0,0,3,0,0,0,5,0,5,0,2,0,6,0,3,3
1522,B,633,0,0,2,6,0,0,1,3,2,102,60,200,142,221,397,0,202,0,50,57,6
1623,B,743,0,0,0,0,0,0,0,0,0,0,0,0,100,400,0,1800,600,0,0,0,0

In [38]:
# C
dfC_negative = df.loc[(df["品項"] == "C") & (df["店家代號"].isin(["89","225","429","540","633","742","743","745"]))]
dfC_negative

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
1901,C,89,200,400,800,600,0,0,0,0,0,410,120,300,490,250,600,500,0,0,0,180,170
2033,C,225,20,30,120,390,0,0,0,0,0,0,0,0,360,100,0,550,0,0,0,0,0
2233,C,429,0,0,400,200,0,0,0,0,0,20,60,10,100,200,600,0,0,0,0,0,0
2336,C,540,0,0,40,70,0,0,0,30,0,160,120,75,215,170,70,350,30,110,0,0,0
2427,C,633,0,2,8,17,12,0,4,3,10,116,32,305,194,14,431,350,6,14,50,102,8
2532,C,742,5,0,0,1400,0,0,0,0,0,0,0,0,300,600,200,1000,0,0,0,0,600
2533,C,743,0,0,400,1800,0,0,0,0,0,0,0,0,50,400,200,2000,0,0,0,0,0
2535,C,745,20,450,200,600,0,0,0,0,0,0,0,0,200,600,200,600,0,0,0,0,0

In [41]:
# D
dfD_negative = df.loc[(df["品項"] == "D") & (df["店家代號"].isin(["86","89","225","540","633","743","747","745"]))]
dfD_negative

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
2781,D,86,0,0,0,0,0,0,0,0,0,0,30,70,60,30,60,0,0,0,30,10,70
2784,D,89,100,200,600,400,0,0,0,0,0,300,0,150,300,200,400,300,0,0,0,100,100
2912,D,225,20,20,80,250,0,0,0,0,0,0,0,0,300,50,0,430,0,0,0,0,0
3206,D,540,0,20,40,30,0,0,0,20,30,100,50,25,100,120,40,120,0,110,0,10,0
3290,D,633,0,3,9,12,2,12,0,0,5,4,83,155,140,5,222,102,9,0,6,55,3
3386,D,743,0,0,200,600,0,0,0,0,0,0,0,0,0,500,200,1000,0,0,0,0,0
3388,D,745,40,200,100,400,0,0,0,0,0,0,0,70,400,0,200,300,0,0,0,0,0
3390,D,747,0,0,0,100,0,0,0,0,0,0,50,20,100,100,0,150,0,0,0,0,0

In [43]:
# E
dfE_negative = df.loc[(df["品項"] == "E") & (df["店家代號"].isin(["742"]))]
dfE_negative

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3743,E,742,0,0,200,0,0,0,0,0,0,60,20,0,200,0,0,0,500,0,0,0,0

In [45]:
# F 新品,2021年1-8月沒賣,無法比較

In [47]:
# G 新品,2021年1-8月沒賣,無法比較

In [50]:
# H 新品,2021年1-8月沒賣,無法比較

## 正成長

In [34]:
# A
dfA_positive  = df.loc[(df["品項"] == "A") & (df["店家代號"].isin(["304","745","789","782","829","795"]))]
dfA_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
306,A,304,20,310,170,1050,0,0,100,30,40,0,0,0,50,0,0,0,0,0,0,0,0
747,A,745,180,550,200,1200,0,0,10,0,0,0,0,0,600,200,400,400,0,0,0,0,0
784,A,782,0,60,145,300,0,30,120,60,60,0,0,0,0,0,10,0,110,0,0,110,100
791,A,789,69,99,38,246,0,0,55,0,0,0,0,0,0,0,0,0,70,32,140,120,37
797,A,795,120,40,160,1410,0,0,0,0,0,0,0,0,0,0,0,0,0,0,100,180,160
831,A,829,0,0,30,1947,-967,0,0,0,0,0,0,10,20,70,65,320,0,0,0,0,170

In [37]:
# B
dfB_positive  = df.loc[(df["品項"] == "B") & (df["店家代號"].isin(["159","304","430","749","829","795"]))]
dfB_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
1065,B,159,85,30,100,450,0,180,0,0,0,0,0,0,0,55,250,0,0,0,0,0,0
1206,B,304,0,260,110,1090,0,0,0,0,10,0,0,0,30,10,0,0,0,0,0,0,0
1330,B,430,40,5,565,545,0,30,66,90,20,10,12,10,30,64,50,0,70,0,10,17,20
1629,B,749,0,100,0,600,0,0,0,0,0,0,0,0,0,0,0,200,0,0,0,0,0
1670,B,795,100,30,130,1330,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,110,80
1700,B,829,0,0,0,1618,-768,0,0,0,0,0,30,20,30,30,20,140,0,0,0,0,70

In [39]:
# C
dfC_positive  = df.loc[(df["品項"] == "C") & (df["店家代號"].isin(["304","749","782","795"]))]
dfC_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
2108,C,304,30,210,50,527,0,0,100,60,60,0,0,0,30,20,0,0,0,0,0,0,0
2539,C,749,0,100,0,600,0,0,0,0,0,0,0,0,0,0,0,200,0,0,0,0,0
2571,C,782,0,70,120,230,0,120,40,50,50,0,0,0,0,0,10,0,110,0,0,100,80
2583,C,795,110,40,150,1460,0,0,0,0,0,0,0,0,0,0,0,0,0,0,100,140,100

In [42]:
# D
dfD_positive = df.loc[(df["品項"] == "D") & (df["店家代號"].isin(["159","304","688","749","782","795"]))]
dfD_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
2850,D,159,60,20,50,330,0,0,0,0,0,0,0,0,40,30,130,0,0,0,0,0,0
2986,D,304,0,210,50,250,0,0,0,0,10,0,0,0,10,10,0,0,0,0,0,0,0
3338,D,688,0,0,0,480,0,0,0,0,0,0,10,0,40,10,120,30,0,0,0,0,0
3392,D,749,30,100,0,600,0,0,0,0,0,0,0,0,200,0,200,100,0,0,0,0,0
3421,D,782,0,30,80,100,40,30,50,10,0,0,0,0,0,0,10,0,20,0,0,40,50
3433,D,795,80,20,90,1100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50,70,90

In [44]:
# E
dfE_positive = df.loc[(df["品項"] == "E") & (df["店家代號"].isin(["540","743"]))]
dfE_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3693,E,540,0,0,30,400,0,30,0,0,0,20,5,10,60,30,0,0,80,0,0,0,0
3744,E,743,0,0,0,400,0,0,0,0,0,0,0,110,0,100,0,0,0,0,0,0,0

In [46]:
# F
dfF_positive = df.loc[(df["品項"] == "F") & (df["店家代號"].isin(["29","130","292","304","499","534","743","795","696"]))]
dfF_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
3815,F,29,10,0,0,0,0,30,50,15,0,0,0,0,0,0,0,0,0,0,0,10,0
3865,F,130,0,0,10,10,25,0,40,30,0,0,0,0,0,0,0,0,0,0,0,15,0
3965,F,292,20,20,0,20,25,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3973,F,304,0,0,0,30,5,240,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0
4084,F,499,0,0,70,0,0,10,0,25,0,0,0,0,0,0,0,0,0,0,0,0,5
4101,F,534,0,23,2,43,25,0,55,0,0,0,0,0,0,0,0,0,0,0,0,7,6
4178,F,696,0,20,0,10,0,65,25,240,0,0,0,0,0,0,0,0,0,0,0,0,10
4208,F,743,0,0,0,0,0,85,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0
4235,F,795,0,0,10,60,0,0,0,60,0,0,0,0,0,0,0,0,0,0,0,20,0

In [57]:
# G
dfG_positive = df.loc[(df["品項"] == "G") & (df["店家代號"].isin(["6","7","57","130","251","362","482","534","742","743","745","795","806"]))]
dfG_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
4363,G,6,0,0,30,130,50,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,6
4364,G,7,0,0,100,40,20,0,95,0,0,0,0,0,0,0,0,0,0,0,0,10,40
4399,G,57,0,0,10,60,30,0,50,0,0,0,0,0,0,0,0,0,0,0,20,20,0
4439,G,130,0,0,20,70,120,0,100,0,0,0,0,0,0,0,0,0,0,0,0,35,0
4519,G,251,0,0,40,80,20,0,90,0,0,0,0,0,0,0,0,0,0,0,0,20,0
4589,G,362,0,0,30,60,30,0,50,0,0,0,0,0,0,0,0,0,0,0,10,30,0
4671,G,482,0,0,69,30,36,0,50,0,0,0,0,0,0,0,0,0,0,0,11,4,4
4696,G,534,0,0,47,107,20,0,21,0,0,0,0,0,0,0,0,0,0,0,0,48,6
4814,G,742,0,0,200,200,45,0,30,0,0,0,0,0,0,0,0,0,0,0,0,220,210
4815,G,743,0,0,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4817,G,745,0,0,20,40,50,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4844,G,795,0,0,30,80,0,0,100,0,0,0,0,0,0,0,0,0,0,0,0,30,0
4853,G,806,0,0,33,45,28,0,50,0,0,0,0,0,0,0,0,0,0,0,0,29,0

In [58]:
# H 
dfH_positive = df.loc[(df["品項"] == "H") & (df["店家代號"].isin(["6","7","130","414","482","696","742","743"]))]
dfH_positive

,品項,店家代號,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2021/01,2021/02,2021/03,2021/04,2021/05,2021/06,2021/07,2021/08,2021/09,2021/10,2021/11,2021/12
4967,H,6,0,0,0,26,0,10,0,37,0,0,0,0,0,0,0,0,0,0,0,0,3
4968,H,7,0,20,0,0,0,22,10,20,5,0,0,0,0,0,0,0,0,0,0,10,0
5021,H,130,10,10,10,0,35,10,10,0,0,0,0,0,0,0,0,0,0,0,0,10,0
5144,H,414,10,10,10,10,0,15,5,0,0,0,0,0,0,0,0,0,0,0,0,0,8
5178,H,482,10,0,15,10,5,5,0,5,0,0,0,0,0,0,0,0,0,0,4,4,10
5261,H,696,0,0,0,0,0,10,0,40,0,0,0,0,0,0,0,0,0,0,0,0,5
5284,H,742,0,0,0,0,5,18,0,40,110,0,0,0,0,0,0,0,0,0,0,140,120
5285,H,743,0,0,0,100,0,65,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0